@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

body {
overflow:hidden;
}

.container { margin-top: 20px; }
.mb20 { margin-bottom: 20px; } 

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; }
.search-result h3 > a, .search-result i { color: #248dc1 !important; }
.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; } 
.search-result span.plus { position: absolute; right: 0; top: 126px; }
.search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { background-color: #414141; }
.search-result span.plus a i { color: #fff !important; }
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }
ul { list-style:none; }
.option-section { border-right:1px solid #dcdcdc; }
.timer-section {color: green;
text-align: center;
font-size: 30px;
width: 69%;	
}
.option-list {
	display:inline-block;
	float:left;
	width:290px;
	border-top: 1px solid #dcdcdc;
    background:#e8fffb;
    padding-left:20px;
}
.option-one {
width: 55px;
float: left;
text-align: center;
padding: 12px;
border: 1px solid black;
margin-right: 10px;
margin-bottom: 10px;
border-radius: 5px;
background: white;
cursor:pointer;
}
/* .option-one:hover {
	background-color:green;
	cursor:pointer;
	color:white;
	border-radius:5px;
} */
.exam-start {
text-align: center;
margin-top: 30px;
}
.exam-start .btn {
padding: 10px;
border-radius: 5px;
}
.search-result {
margin-top:10px;
margin-bottom:20px;
}
.examimg-path {
 width:300px;
 height:auto;
 padding:10px;
}
.option-c-d {
border-top:1px solid #dcdcdc;
margin-top:20px;
margin-bottom:20px;
padding-top:20px;
}
.question-options {
	overflow-x:auto;
	height:375px;
}
.question-options .option-result {
	float:left;
}
.question-options .radio {
	margin-top:1px;
	margin-left:20px;
}
.question-options .options-list-div {
    margin-top:20px;
    margin-bottom:20px;
    margin-left:14px;
}
.questions-number {
	font-size:16px;
}
.student-opt-lists {
	border:1px solid #dcdcdc;
}
.student-opt-title {
	margin:5px;
	border-bottom:1px solid #dcdcdc;
}
.student-opt-title h3 {
    margin-top:5px;
    margin-bottom:5px;
}
.exam-question-name {
	font-size: 18px;
    margin: 15px;
    border-bottom:1px solid #dcdcdc;
    margin-bottom:2px;
}
.scroll-down, .scroll-down:hover {
float: right;
border-radius: 50%;
background-color: #4286f4;
padding: 5px;
color: white;
cursor:pointer;
}
.scroll-up, .scroll-up:hover {
float: right;
border-radius: 50%;
background-color: #4286f4;
padding: 6px;
color: white;
margin-top: -16px;
position: relative;
left: -10px;
font-size: 17px;
cursor:pointer;
}
.opts-review-nxt {
border: 1px solid #dcdcdc;
margin-top: 12px;
margin-bottom: 12px;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
cursor:pointer;	
}
.opts-review-nxt:hover, .opts-clear-response:hover {
	background:#4286f4;
	color:white;
}
.opts-clear-response {
border: 1px solid #dcdcdc;
margin-top: 12px;
margin-bottom: 12px;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
cursor:pointer;		
}
.opts-save-nxt {
border: 1px solid #dcdcdc;
margin-top: 12px;
margin-bottom: 12px;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
cursor:pointer;
background:#4286f4;
color:white;
}
.btm-review-clear {
margin-top: 10px;
border: 1px solid #dcdcdc;
height: 67px;
}
.exam-head-title {
padding-top: 1px;
padding-bottom: 4px;
background: #4286f4;
width: 290px;
color:white;
padding-left:10px;
}
.option-list h5 {
	margin-bottom:15px;
}
.exam-marked-review {
border-radius: 95%;
background-color: blue;
padding: 6px;
padding-left: 10px;
padding-right: 11px;
color: white;
}
.exam-answered {
	background:green;
	border: 1px solid black;
padding: 4px;
    
padding-left: 8px;
padding-right: 8px;
color:white;
} 

.exam-not-answered {
background:red;
border: 1px solid black;
padding: 4px;
color:white;
padding-left: 8px;
padding-right: 8px;
}

.exam-not-visited {
border: 1px solid black;
padding: 4px;
padding-left: 8px;
padding-right: 8px;
background: white;
}
.exam-info-answered {
width: 129px;
float: left;
margin-top: 10px;	
}
.exam-info-notanswered {
width: 236px;
float: left;
margin-top: 10px;	
}
.exam-info-notvisited {
width: 128px;
float: left;
margin-top: 15px;
}
.exam-info-markedreview {
position: relative;
top: 15px;
width: 290px;
}
.exam-info-answerreview {
margin-top: 10px;
margin-bottom: 10px;
position: relative;
display: inline-table;
width: 255px;
}
.exam-answer-review {
border-radius: 95%;
background-color: blue;
padding: 6px;
padding-left: 10px;
padding-right: 11px;
color: white;
}
.option-answer-btn {
height: 252px !important;
overflow-x: auto;
}